<div ng-controller="rencontreFormController">

    Ton papa s'appelle

    <input
            class="quiz-input"
            pu-elastic-input-minwidth="60px"
            pu-elastic-input
            ng-blur="saveQuizDatas(datas)"
            type="text"
            ng-model="datas.perePrenom" >

    et il a

    <input class="quiz-input"
           ng-blur="saveQuizDatas(datas)"
           pu-elastic-input
           pu-elastic-input-minwidth="40px"
           type="text"
           ng-model="datas.pereAge"> ans.

    Ta maman s'appelle

    <input  class="quiz-input"
            pu-elastic-input
            pu-elastic-input-minwidth="40px"
            ng-blur="saveQuizDatas(datas)"
            type="text"
            ng-model="datas.merePrenom">

    et elle a

    <input
            class="quiz-input"
            pu-elastic-input
            pu-elastic-input-minwidth="40px"
            ng-blur="saveQuizDatas(datas)"
            type="text"
            ng-model="datas.mereAge"> ans.

    Nous nous sommes rencontrés :  (ville, lieu et date de la rencontre).

    <textarea class="quiz" ng-blur="saveQuizDatas(datas)" auto-grow ng-model="datas.rencontreDescription"></textarea>

    <br />

    C'était : 
    <ion-checkbox ng-repeat="option in quiz.schema.rencontreMoment.options"
                  ng-checked="datas.rencontreMoment.selected[option.value]"
                  ng-click="saveQuizDatas(datas)"
                  ng-model="datas.rencontreMoment.selected[option.value]"
            > {{ option.label }}</ion-checkbox>
    <label>Autre</label>
    <input ng-model="datas.rencontreMoment.autre" ng-blur="saveQuizDatas(datas)" type="text">




    <!--
    <label ng-repeat="option in datas.rencontreMomentOptions">
        <input type="checkbox" checklist-model="datas.rencontreMomentOptions" checklist-value="datas.rencontreMoment">
    </label>

    <br />
    La première fois que nous nous sommes parlé, c'était : banal, chaotique, simple, orageux, joyeux, innocent, pour le travail.
    <ion-radio ng-change="$parent.saveQuizDatas(datas)" ng-repeat="item in rencontrePremiereConversationOptions"
               ng-value="item.value"
               ng-model="datas.rencontrePremiereConversation">
        {{ item.text }}
    </ion-radio>

    -->
</div>