<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/lodash/lodash.min.js"></script>

    <!-- angular js modules -->
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-translate/angular-translate.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="lib/angular-cached-resource/angular-cached-resource.min.js"></script>

    <!-- Modules -->
    <script src="modules/config/config.js"></script>

    <!-- main app's js -->
    <script src="modules/base/base.js"></script>
    <script src="modules/base/baseConfig.js"></script>

    <script src="modules/routerUiDebug/routerUiDebug.js"></script>

    <script src="modules/authentication/authentication.js"></script>
    <script src="modules/authentication/authenticationConfig.js"></script>
    <script src="modules/authentication/authenticationControllers.js"></script>
    <script src="modules/authentication/authenticationServices.js"></script>

    <script src="modules/user/user.js"></script>
    <script src="modules/user/userConfig.js"></script>
    <script src="modules/user/userControllers.js"></script>
    <script src="modules/user/userServices.js"></script>

    <script src="modules/onboard/onboard.js"></script>
    <script src="modules/onboard/onboardConfig.js"></script>

    <script src="modules/week/week.js"></script>
    <script src="modules/week/weekConfig.js"></script>
    <script src="modules/week/weekService.js"></script>
    <script src="modules/week/weekController.js"></script>

    <script src="modules/page/page.js"></script>
    <script src="modules/page/pageConfig.js"></script>

    <script src="modules/todo/todo.js"></script>
    <script src="modules/todo/todoConfig.js"></script>
    <script src="modules/todo/todoListController.js"></script>
    <script src="modules/todo/todoTaskListController.js"></script>
    <script src="modules/todo/todoFactory.js"></script>

    <!-- main app's js -->
    <script src="modules/app/app.js"></script>
    <script src="modules/app/appConfig.js"></script>

    <!-- must be the last script : cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

</head>
<body ng-app="app">
<!--<div id="app-version" style="position:absolute;z-index: 10000; padding-top:20px">0.0.4</div>-->

<!--
Ionic needs a "ion-nav-view" (a wrapper arount ui-view)
to handle back buttons / user navigation history and more.
-->
<ion-nav-view>

</ion-nav-view>


<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its templates in and out.
-->
<ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>


<!-------------------------
 app-main.html
 -------------------------->

<script id="app-main.html" type="text/ng-template">

    <!--
    Create tabs with an icon and label, using the tabs-positive style.
    Each tab's child <ion-nav-view> directive will have its own
    navigation history that also transitions its templates in and out.
    -->

    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

        <!-- Persons Tab -->
        <ion-tab title="Accueil" icon-off="ion-home" icon-on="ion-home" ui-sref="app.main.week">
            <ion-nav-view name="app-main-week"></ion-nav-view>
        </ion-tab>

        <!-- Account Tab -->
        <ion-tab title="journal" icon-on="ion-compose" icon-off="ion-compose"  ui-sref="app.main.theme">
            <ion-nav-view name="app-main-theme"></ion-nav-view>
        </ion-tab>

        <!-- Account Tab -->
        <ion-tab title="Listes" icon-off="ion-drag" icon-on="ion-drag" ui-sref="app.main.todo">
            <ion-nav-view name="app-main-todo"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

</script>

<!-------------------------
 app-main-week.html
 -------------------------->

<script id="app-main-week.html" type="text/ng-template">
    <ion-view view-title="Week" ng-controller="weekController">
        <ion-content>
            <div class="card">
                <div class="item item-text-wrap">

                    <p>
                        <img style="float:left;padding:10px" width="200px" ng-src="img/week-1-image.jpg">
                        {{::textOfTheWeek}}
                    </p>
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>

<!-------------------------
 app-main-theme.html
 -------------------------->

<script id="app-main-theme.html" type="text/ng-template">
    <ion-view view-title="Themes">

        <ion-content>
            <ion-list>

                <ion-item class="item-icon-right" ui-sref="app.main.themePage">
                    <i class="icon ion-chatbubble-working"></i>
                    Les questions de la semaine
                </ion-item>

                <ion-item class="item-icon-right" ui-sref="app.main.themePage">
                    <i class="icon ion-person-stalker"></i>
                    Arbre généalogique
                </ion-item>

            </ion-list>


        </ion-content>

    </ion-view>
</script>

<!-------------------------
 app-main-theme-page.html
 -------------------------->

<script id="app-main-theme-page.html" type="text/ng-template">
    <ion-view view-title="Page du theme">
        <ion-content>

            <div class="card">
                <div class="item item-text-wrap">
                    Page d'un theme en particulier
                </div>
            </div>

        </ion-content>
    </ion-view>
</script>

<!-------------------------
 app-main-todo.html
 -------------------------->

<script id="app-main-todo.html" type="text/ng-template">
    <ion-view view-title="Listes" ng-controller="todoListController">

        <ion-nav-buttons side="right">
            <button class="button button-icon ion-plus" ng-click="add()">
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="left">
            <button class="button button-icon ion-minus" ng-click="toggleDelete()"></button>
        </ion-nav-buttons>

        <ion-content>
            <ion-list show-delete="showDelete">
                <ion-item class="item-button-right" ng-repeat="list in lists track by $index">
                    <ion-delete-button
                            class="ion-minus-circled"
                            ng-click="deleteList({{$index}})">
                    </ion-delete-button>
                    <div ui-sref="app.main.tasks({listId: $index})">{{list.name }}</div>
                    <button ng-click="updateList({{$index}})" class="button button-positive ">
                        <i  class="icon ion-compose"></i>
                    </button>
                </ion-item>
            </ion-list>
        </ion-content>

    </ion-view>
</script>

<!-------------------------
 app-main-tasks.html
 -------------------------->

<script id="app-main-tasks.html" type="text/ng-template">
    <ion-view view-title="{{listName}}" ng-controller="todoTaskListController">

        <ion-nav-buttons side="right">
            <button class="button button-icon ion-plus" ng-click="add()">
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="left">
            <button class="button button-icon ion-minus" ng-click="toggleDelete()"></button>
        </ion-nav-buttons>

        <ion-content>
            <ion-list show-delete="showDelete">
                <ion-item class="item-button-right" ng-repeat="task in tasks track by $index">
                    <ion-delete-button
                            class="ion-minus-circled"
                            ng-click="deleteTask({{$index}})">
                    </ion-delete-button>
                    {{task.name}}
                    <button class="button button-positive" ng-click="updateTask({{$index}})">
                        <i  class="icon ion-compose"></i>
                    </button>
                </ion-item>
            </ion-list>

            <div class="card">
                <div class="item item-divider">
                    Suggestions de taches
                </div>
                <ion-list">
                <ion-item class="item-button-right" ng-repeat="taskSuggested in tasksSuggested track by $index">
                    {{taskSuggested.name}}
                </ion-item>
                </ion-list>
            </div>


        </ion-content>

    </ion-view>
</script>


</body>
</html>
