
<ion-view class="view-trimestres" view-title="Themes" ng-controller="themeListController">

    <ion-content>
        <div class="trimestre-links">
          <a id="trimestre-1" ui-sref="app.main.quiz({themeId: 'trimestre_1'})">  </a>
          <a id="trimestre-2" ui-sref="app.main.quiz({themeId: 'trimestre_2'})">  </a>
          <a id="trimestre-3" ui-sref="app.main.quiz({themeId: 'trimestre_3'})">  </a>
        </div>
            <area shape="rect" coords="0,0,82,126" href="sun.html" alt="Sun">
        </map>
        <img width="100%" src="img/background-trimestres.png"/>

        <!--
        <ion-list>

            <ion-item class="item-icon-right" ui-sref="app.main.quiz({themeId: theme.id})" ng-repeat="theme in themes">
                {{ theme.name }}
            </ion-item>

        </ion-list>
        -->

    </ion-content>

</ion-view>
