<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its templates in and out.
-->
<ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Persons Tab -->
    <ion-tab title="Accueil" icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" ui-sref="app.main.home">
        <ion-nav-view name="app-main-home"></ion-nav-view>
    </ion-tab>


    <!-- Account Tab -->
    <ion-tab title="journal" icon-off="ion-ios7-bookmarks-outline" icon-on="ion-ios7-bookmarks" ui-sref="app.main.theme">
        <ion-nav-view name="app-main-theme"></ion-nav-view>
    </ion-tab>

</ion-tabs>
